@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.wrapper {
  width: 100%;
  height: 598px;
  background: var(
    --maine-background,
    linear-gradient(81deg, #e7f0ff 9.01%, rgba(232, 241, 255, 0.47) 89.11%)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.images {
  width: 332px;
  height: 275px;
  flex-shrink: 0;
  border: 5px solid #fff;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  width: 450px;
  height: 400px;
  bottom: 45px;
}

.image1 {
  position: absolute;
  top: 0;
  left: 60px;
  z-index: 0;
}

.image2 {
  position: absolute;
  top: 190px;
  left: 0;
  z-index: 1;
}

.consultationContainer {
  width: 234.45px;
  height: 86px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 40px 40px -15px rgba(148, 182, 206, 0.15);
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-items: flex-start;
  padding-left: 20px;
  left: -120px;
  top: 30px;
}

.consultationHeading {
  display: inline-flex;
  align-items: center;
}

.consultationHeading img {
  width: 43px;
  height: 34px;
}

.consultationDescription {
  color: #77829d;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
}

.consultationTitle {
  color: #1b3c74;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 168.75% */
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tagline {
  color: #2aa7ff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 168.75% */
}

.title {
  color: #1b3c74;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 67px; /* 139.583% */
}

.titleBlue {
  color: #2aa7ff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 67px;
}

.description {
  color: #77829d;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px; /* 170.588% */
  width: 563px;
  padding-top: 20px;
}

.point {
  color: #1b3c74;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 150% */
}

.tickContainer {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-right: 19px;
}

.tickwrapper {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-top: 37px;
}
