.wrapper {
  width: 1170px;
  height: 429px;
  border-radius: 15px;
  background: white;
  box-shadow: 6px 6px 35px 0px rgba(16, 40, 81, 0.11);
  margin-top: -342px;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  padding: 35px;
  box-sizing: border-box;
}

.formContainer {
  display: flex;
  flex-direction: row;
  /* gap: 120px; */
  justify-content: space-between;
  width: 100%;
}

.inputWrapper {
  position: relative;
}

.input {
  all: unset;
  width: 285px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  background: #fafbfe;
  color: #abb6c7;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 60px;
}

.inputWrapper::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.59994 4.7999C6.94898 4.7999 4.79996 6.94894 4.79996 9.5999C4.79996 12.2509 6.94898 14.3999 9.59994 14.3999C12.2509 14.3999 14.3999 12.2509 14.3999 9.5999C14.3999 6.94894 12.2509 4.7999 9.59994 4.7999ZM2.39996 9.5999C2.39996 5.62345 5.6235 2.3999 9.59994 2.3999C13.5764 2.3999 16.7999 5.62345 16.7999 9.5999C16.7999 11.1549 16.307 12.5948 15.4688 13.7717L21.2484 19.5514C21.7171 20.02 21.7171 20.7798 21.2484 21.2484C20.7798 21.7171 20.02 21.7171 19.5514 21.2484L13.7718 15.4688C12.5948 16.307 11.1549 16.7999 9.59994 16.7999C5.6235 16.7999 2.39996 13.5764 2.39996 9.5999Z" fill="%239CA3AF"/></svg>')
    no-repeat center center;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 5px;
}

.detailsContainer h3 {
  color: var(--Dark, #102851);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hospFeatures {
  display: flex;
  flex-direction: row;
  column-gap: 21px;
  justify-content: space-between;
}

.featureBox {
  width: 203px;
  height: 153px;
  border-radius: 8px;
  background: #fafbfe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}

.featureBoxActive {
  border-radius: 8px;
  border: 1px solid #2aa7ff;
  background: rgba(42, 167, 255, 0.08);
}

.featureIcon {
  width: 60px;
  height: 60px;
}

.featureTitle {
  color: var(--Gray, #abb6c7);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}

.featureTitleActive {
  font-weight: 600;
  color: #2aa7ff;
}
