.wrapper {
  width: 100%;
  height: 542px;
  flex-shrink: 0;
  background: var(
    --maine-background,
    linear-gradient(81deg, #e7f0ff 9.01%, rgba(232, 241, 255, 0.47) 89.11%)
  );
}

.container {
  padding: 0 150px;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;
  gap: 200px;
  position: relative;
}

.mockups {
  flex-shrink: 0;
  display: flex;
  align-self: flex-end;
}

.mockup1 {
  width: 302px;
  height: 503px;
  position: relative;
  top: 65px;
  right: 70px;
}
.mockup2 {
  width: 302px;
  height: auto;
  position: absolute;
  left: 250px;
}

.arrow {
  position: absolute;
  right: 880px;
  top: 148px;
}

.title {
  color: #1b3c74;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 67px; /* 139.583% */
  margin-bottom: 25px;
}

.titleBlue {
  color: #2aa7ff;
}

.downloadDetails {
  width: 338px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.downloadSubheading {
  color: #414146;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  margin-bottom: 15px;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.countryCode {
  display: flex;
  padding: 15px 15.38px 15px 15px;
  align-items: flex-start;
  border-right: 1px solid rgba(180, 180, 190, 0.3);
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.input {
  all: unset;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  background: #fafbfe;
  display: flex;
  width: 391px;
  height: 49px;
  padding: 1px 0px 1px 1px;
  justify-content: center;
  gap: 25px;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 57px;
}

.input input {
  all: unset;
  color: #b4b4be;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input button {
  margin-left: 35px;
}

.applogo {
  width: 224px;
  height: 69px;
}

.appLogos {
  display: flex;
  gap: 25px;
}
