.wrapper {
  height: 96px;
  background: #fff;
  box-shadow: 0px 9px 12px 0px rgba(32, 74, 105, 0.07);
  padding: 0 135px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 23px;
  height: 23.019px;
}

.navItemContainer {
  display: flex;
  width: 912px;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.navItem {
  color: var(--tertiary-color);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  text-decoration: none;
}

.logoContainer {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  text-decoration: none;
}

.logoContainer .logoTitle {
  color: var(--primary-color);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.36px;
  padding-left: 10px;
}

.navButton {
  all: unset;
  display: flex;
  width: 130px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 8px;
  background: var(--Primary, #2aa8ff);
  text-decoration: none;
}

.buttonText {
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}
