@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
}

:root {
  --primary-color: #2aa7ff;
  --secondary-color: #14bef0;
  --tertiary-color: #102851;
  --text-color: #414146;
  --white-color: #f4f4f4;
  background: var(
    --main-background,
    linear-gradient(81deg, #e7f0ff 9.01%, rgba(232, 241, 255, 0.47) 89.11%)
  );
}
